{% extends 'hotel/base.html' %}
{% load static %}
{% block title %} Our Room {% endblock %}
{% block content %}
<div class="back_re">
    <div class="container mt-5">
       <div class="row">
          <div class="col-md-12">
             <div class="title">
                <h2>Our Rooms</h2>
             </div>
          </div>
       </div>
    </div>
 </div>
  <div  class="our_room">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2>Our Room</h2>
                 <p>Lorem Ipsum available, but the majority have suffered </p>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-6">
              <div id="serv_hover"  class="room">
                 <div class="room_img">
                    <figure><img src="{% static 'hotel/images/room1.jpeg' %}" alt="#"/></figure>
                 </div>
                 <div class="bed_room">
                    <h3>Deluxe Room</h3>
                    <p>Adorned with elements of art and exquisite Indian motifs, our cherished Deluxe Rooms offer calming views of the lush cityscape. Unwind amidst sheer comfort and sophistication whether you’re on holiday or on business. </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div id="serv_hover"  class="room">
                 <div class="room_img">
                    <figure><img src="{% static 'hotel/images/room2.jpeg' %}" alt="#"/></figure>
                 </div>
                 <div class="bed_room">
                    <h3>Luxury Room</h3>
                    <p>With warm undertones and elegant design elements, our Luxury Rooms feature carved wooden panels, and rich tapestry conveying Indian luxury. These are the perfect retreat, whether you’re travelling for leisure or for work.</p>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div id="serv_hover"  class="room">
                 <div class="room_img">
                    <figure><img src="{% static 'hotel/images/room3.jpeg' %}" alt="#"/></figure>
                 </div>
                 <div class="bed_room">
                    <h3>Premium Room</h3>
                    <p>Our signature Taj Club Premium Rooms are a haven of luxury and comfort. These spacious corner rooms are larger than most rooms and offer personalised service with fine attention to detail. Exclusive benefits include complimentary one-way airport transfer, daily breakfast and evening cocktail hours at the Taj Club lounge, round-the-clock butler service and a host of other privileges. </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div id="serv_hover"  class="room">
                 <div class="room_img">
                    <figure><img src="{% static 'hotel/images/room4.jpeg' %}" alt="#"/></figure>
                 </div>
                 <div class="bed_room">
                    <h3>Presidential Suite Pool View Room</h3>
                    <p>The Presidential Suite has an expansive living room, plush dining room with a 12-seat table and well-equipped pantry, study, lavish master bedroom and grand en-suite bathroom. You experience world-class luxury and Indian hospitality. </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div id="serv_hover"  class="room">
                 <div class="room_img">
                    <figure><img src="{% static 'hotel/images/room5.jpeg' %}" alt="#"/></figure>
                 </div>
                 <div class="bed_room">
                    <h3>Superior Room</h3>
                    <p>With classic interiors that exemplify timelessness along with calming views of the city, the elegantly designed Superior Rooms are the perfect retreat, whether you’re travelling for leisure or for work. </p>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-6">
              <div id="serv_hover"  class="room">
                 <div class="room_img">
                    <figure><img src="{% static 'hotel/images/room6.jpeg' %}" alt="#"/></figure>
                 </div>
                 <div class="bed_room">
                    <h3>king Room</h3>
                    <p>Opulence and expanse fit for kings and Heads of State! The Tata Suite at Taj Palace is apartment-sized, and showcases Mughal motifs, crystal chandeliers, curated objets d’arts, bespoke carpets and priceless paintings. </p>
                 </div>
              </div>
           </div>
        </div>
     </div>
    </div>
{% endblock %}