{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>  
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'myadmin/assets/img/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'myadmin/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'myadmin/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'myadmin/assets/plugins/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'myadmin/assets/css/feathericon.min.css' %}">
	<link rel="stylehseet" href="{% static 'myadmin/https://cdn.oesmith.co.uk/morris-0.5.1.css' %}">
	<link rel="stylesheet" href="{% static 'myadmin/assets/plugins/morris/morris.css' %}">
	<link rel="stylesheet" href="{% static 'myadmin/assets/css/style.css' %}"> </head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a href="index.html" class="logo"> <img src="{% static 'myadmin/assets/img/hotel_logo.png' %}" width="50" height="70" alt="logo"> <span class="logoclass">HOTEL</span> </a>
				<a href="index.html" class="logo logo-small"> <img src="{% static 'myadmin/assets/img/hotel_logo.png' %}" alt="Logo" width="30" height="30"> </a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
			<ul class="nav user-menu">
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="{% static 'myadmin/assets/img/profiles/avatar-01.jpg' %}" width="31" alt="Soeng Souy"></span> </a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm"> <img src="{% static 'myadmin/assets/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle"> </div>
							<div class="user-text">
								<h6>Sarthak Shah</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div> <a class="dropdown-item" href="{% url 'myadmin:profile' user.id %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'myadmin:userlogin' %}">Logout</a> </div>
				</li>
			</ul>
		</div>
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="active"> <a href="{% url 'myadmin:myadmin' %}"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
						<li class="list-divider"></li>
						<li class="submenu"> <a href="#"><i class="fas fa-suitcase"></i> <span> Booking </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="{% url 'myadmin:adminbookinglist' %}"> All Booking </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> Customers </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="{% url 'myadmin:customerlist' %}"> All customers </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-key"></i> <span> Rooms </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="{% url 'myadmin:roomlist' %}">All Rooms </a></li>
								<li><a href="{% url 'myadmin:addroom' %}"> Add Rooms </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="far fa-money-bill-alt"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="{% url 'myadmin:admininvoice' %}">Invoices </a></li>
							</ul>
						</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
{% block content %}

{% endblock %}
<script data-cfasync="false" src="{% static 'myadmin/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/js/popper.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/plugins/raphael/raphael.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/plugins/morris/morris.min.js' %}"></script>
	<script src="{% static 'myadmin/assets/js/chart.morris.js' %}"></script>
	<script src="{% static 'myadmin/assets/js/script.js' %}"></script>
</body>
</html>