{% extends 'myadmin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">All Rooms</h4> <a href="{% url 'myadmin:addroom' %}" class="btn btn-primary float-right veiwbutton">Add Room</a> </div>
                        <form class="form-inline my-2 my-lg-0" method="GET">
                            <div class="col-4 text-right">
                                <input class="form-control mr-sm-2" type="text" name="search_query" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        </div>
                        
                </div>
            </div>
        </div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body booking_card">
                <div class="table-responsive">
                    <table class="datatable table table-stripped table table-hover table-center mb-1">
                        <thead class="table-primary">
                            <tr>
                                <th>Room ID</th>
                                <th>Room No</th>
                                <th>Room Image</th>
                                <th>Room Categories</th>
                                <th>Bed Categories</th>
                                <th>Room Stock</th>
                                <th>Food Categories</th>
                                <th>Capacity</th>
                                <th>Room Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in object_list %}
                            <tr>
                                <td>{{room.id}}</td>
                                <td>{{room.room_no}}</td>
                                <td><img src="/media/{{room.roomimage.last.image}}"style="height: 70px; width: 70px; border-radius: 10px";></td>
                                <td>{{room.room_categories}}</td>
                                <td>{{room.bed_categories}}</td>
                                <td>{{room.room_stock}}</td>
                                <td>{{room.food_categgories}}</td>
                                <td>{{room.capacity}}</td>
                                <td>{{room.room_price}}</td>
                                <td>
                                    <a href="{% url 'myadmin:updateroom' room.id %}"><button type="submit" class="btn btn-warning">Update</button></a>
                                    <a href="{% url 'myadmin:deleteroom' room.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}